
# jdtls
proximity.server/.classpath
proximity.server/.factorypath
proximity.server/.project
proximity.server/.settings

# maven
proximity.server/target/
# testing data
proximity.server/.debug.har
# local settings (has api key)
proximity.server/settings.json

# app code
proximity.server/logs
proximity.server/app.db

proximity.client/prxy

# deploy
build/
