
# jdtls
proximity.server/.classpath
proximity.server/.factorypath
proximity.server/.project
proximity.server/.settings

# maven
proximity.server/target/
# local settings (has api key)
proximity.server/.settings.json

# app code
**/app.db
proximity.server/logs

proximity.server/allevents-warn.har
